<%= turbo_frame_tag ticket do %>
  <div class="ticket my-5 bg-gradient-to-br from-purple-900 to-purple-700 rounded p-3 group shadow-light border border-transparent hover:border-purple-100">
    <div class="flex justify-between items-center">
      <h3 class="mb-2 text-xl"><%= ticket.user.username %></h3>
      <em class="text-xs"><%= created_on(ticket) %></em>
    </div>
    <div class="flex md:justify-between md:items-end flex-col md:flex-row my-2">
      <p class="text-xs md:text-base mb-3 md:mb-0"><%= ticket.content %></p>
      <div class="hidden cancel-ticket cancel-<%= ticket.user.id %>" data-ticketable-target="cancelBtn">
        <%= link_to 'problem solved !', ticket_path(ticket), data: {turbo_method: :delete}, class:'bg-emerald-700 text-white text-xs md:text-sm rounded py-2 px-4' %>
      </div>
    </div>
  </div>
<% end %>
