<h2 class="font-mono text-2xl mb-10">Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field mt-2">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"text-black", placeholder: 'your email' %>
  </div>

  <div class="field mt-2">
    <%= f.password_field :password, autocomplete: "current-password", class:"text-black", placeholder: 'your password' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field mt-2">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions my-10">
    <%= f.submit "Log in", class:"rounded-full text-white bg-emerald-700 py-3 px-4" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>


